@media (min-width: 320px) and (max-width: 700px) {
    .content-main__header__title {
        font-size: 1.6em;
    }

    .content-main__task-add-area__label {
        font-size: 0.6em;
    }

    .content-main__btn-area__btn {
        width: 22vw;
    }

    .content-main {
        max-width: 300px;
    }

    .content-main__section-list__background {
        width: 320px;
    }

    .content-main__task-add-area {
        align-items: center;
    }

    .content-main__task-add-area__inputTask  {
        font-family: var(--font1);
        padding: 10px;
        width: 260px;
        height: 30px;
    }

    .content-main__prompt-to-type-popup__popup__prompt__confirm__btn-ok {
        width: 200px;
        font-size: 0.9em;
    }

    .content-main__prompt-to-type-popup__popup__prompt {
        width: 300px;
        height: 300px;
    }

    .content-main__section-list__task-add__list__task-item {
        text-transform: uppercase;
        font-weight: 800;
        padding: 4px;
        border-radius: 7px;
        height: 35px;
    }
}